html {
    height: 100%;
}

body { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; 
    background-color: #f4f4f9; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-content-area {
    flex: 1 0 auto; 
}

.container, .cart-container, .profile-container, .payment-container {
    flex: 1 0 auto; 
}
/*NAV*/
.navbar {
    color: white;
    background-color: #ff751f;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}
.navbar button {
    margin-left: 20px;
    padding: 8px 15px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.navbar .profile-link {
    font-weight: bold;
}
/*FOOTER*/
.site-footer {
    background-color: #7b2f00;
    color: #ecf0f1;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: 4px solid #ff751f;
    flex-shrink: 0;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 0 15px;
}
.footer-section h4 {
    color: #fff;
    margin-bottom: 15px;
}
.footer-section p, .footer-section ul li a {
    color: #bdc3c7;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: block;
}
.footer-section ul li a:hover {
    color: #fff;
}
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px;
    color: #7f8c8d;
}
@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }
}

/*--For staff pages--*/
#sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #ff751f;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
#account-info {
  margin-top: auto;
  border-top: 1px solid #ff751f;
  padding-top: 15px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
#sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}
#sidebar nav ul {
    list-style: none;
    padding: 0;
}
#sidebar nav ul li {
    margin-bottom: 15px;
}
#sidebar nav ul li a {
    color: white;
    text-decoration: none;
}
#sidebar nav ul li a:hover {
    text-decoration: underline;
}
#sidebar .stats {
    margin-top: 50px;
    text-align: center;
}
#sidebar .stats p {
    margin: 8px 0;
}